{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div>

    </div>
    <div class="container">
        <h1>Top Skills</h1>
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="inputStartDate">Start date</label>
                <input type = 'date' value={{ datetime.date.today }} name='start_date' id="inputStartDate">
                <label for="inputEndDate">End date</label>
                <input type = 'date' value="<?php echo date('Y-m-d'); ?>" name='end_date' >
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">keyword</th>
                <th scope="col">count</th>
            </thead>
            <tbody>
                {% for keyword in keywordsCount%}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ keyword.keyword }}</td>
                        <td>{{ keyword.total }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}