{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div>

    </div>
    <div class="container">
        <h1>Top Skills</h1>
        <form method="GET">{% csrf_token %}
            <div class="form-group">
                <label for="inputStartDate">Start date</label>
                <div style="display:inline;"> {{ date_form.start }} </div>
                <label for="inputEndDate">End date</label>
                <div style="display:inline;"> {{ date_form.end }} </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">keyword</th>
                <th scope="col">count</th>
            </thead>
            <tbody>
                {% for keyword in keywordsCount%}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ keyword.keyword }}</td>
                        <td>{{ keyword.total }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}